//
//  Development.xcconfig
//  MovieDB
//
//  Created by 60156720 on 10/15/25.
//

// Development.xcconfig
// Server URL
BASE_URL = http:/$()/movidedb.dev.com

// Keys
API_KEY = 783u9djd8a_hkzos7jd803001nd

// App Settings
APP_NAME = MovieDB (DEV)
APP_BUNDLE_ID = com.MovieDB.Dev

// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconDev
// app version
MARKETING_VERSION = 1.0.0
// build number
CURRENT_PROJECT_VERSION = 1

//#include "Pods/Target Support Files/Pods-MovieDB/Pods-MovieDB.development.xcconfig"
