//
//  Production.xcconfig
//  MovieDB
//
//  Created by 60156720 on 10/15/25.
//

// Production.xcconfig
// API URL
BASE_URL = https:/$()/api.themoviedb.org/3/

// Keys
API_KEY = 2472f33b26e67da5bb1456ffa226d78a

// Photo URL
PHOTO_500_URL = https:/$()/image.tmdb.org/t/p/w500
PHOTO_200_URL = https:/$()/image.tmdb.org/t/p/w200

// App Settings
APP_NAME = MovieDB (PRODUCT)
APP_BUNDLE_ID = com.MovieDB.Production

// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconProduction
// app version
MARKETING_VERSION = 1.0.0
// build number
CURRENT_PROJECT_VERSION = 1

//#include "Pods/Target Support Files/Pods-MovieDB/Pods-MovieDB.production.xcconfig"
