//
//  Production.xcconfig
//  MovieDB
//
//  Created by 60156720 on 10/15/25.
//

// Production.xcconfig
// Server URL
BASE_URL = http:/$()/movidedb.production.com

// Keys
API_KEY = 9ud0930djd_md9zdjdko3830lb0d

// App Settings
APP_NAME = MovieDB (PRODUCT)
APP_BUNDLE_ID = com.MovieDB.Production

// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconProduction
// app version
MARKETING_VERSION = 1.0.0
// build number
CURRENT_PROJECT_VERSION = 1

#include "Pods/Target Support Files/Pods-MovieDB/Pods-MovieDB.production.xcconfig"
